.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Navbar */
.navbar {
  background-color: #00ff50;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Ícones do menu */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

/* Conteúdo centralizado */
.content {
  position: relative;
  z-index: 5;
  margin-top: 6rem;
  padding: 1.5rem;
}

/* Título */
.title {
  background-color: rgba(0, 255, 80, 0.3);
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 5px;
  font-size: 2rem; /* Tamanho padrão para computadores */
  color: #10E957;
  z-index: 2;
  animation: slideInFromLeft 1.5s ease-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Texto */
.text {
  font-size: 2rem;
  max-width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 2;
  animation: slideInFromLeft 1.5s ease-out;
}

/* Imagem */
.imagem {
  margin-top: 2rem;
  margin-left: 20rem;
  padding: 13rem;
  background-color: aliceblue;
  color: black;
  z-index: 2;
  text-align: center;
}

/* Layout Flexível */
.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.trocaDePagina {
  background: #14e956;
    background-color: #14e956;
    background-image: linear-gradient(315deg, #14e956, #72f29a);
    border: none;
    border-radius: 7px;
    box-shadow: 9px 7px 32px -11px rgba(20, 233, 86, .74);
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 900;
    outline: none;
    padding: 1rem 3rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out 0s;
    margin-left: 40rem;
    margin-top: 10rem;
}

.conecte {
  text-align: center;
  color:#000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #10E957;
  font-size: 3rem;
  transform: rotate(3.6deg);
}

.rodape {
  display: flex;
  align-items: center;
  
}
.imgGit {
  width: 150px;
  height: 150px;
}
.imgLinkedin {
  width: 300px;
  height: 150px;
}
.divGitHub {
  background-color: #585050;
}
.divLinkedin {
  background-color: #0077B5;
}
.link {
  display: flex;
  flex: 1;
}

.divLinkedin, .divGitHub {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  gap: 20rem;
  padding: 2rem;
  color:#ffff;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #000;
  font-size: 4rem;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.divLinkedin:hover, .divGitHub:hover, .email:hover {
  filter: brightness(0.7); /* Escurece a div ao passar o mouse */
}

.email {
  display: flex;
  background-color: #00ff50;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #000;
  cursor: pointer;
  transition: filter 0.3s ease;
}

/* Texto Inferior */
.textBottom {
  font-size: 1.5rem;
  max-width: 40%;
  z-index: 2;
  animation: slideInFromLeft 1.5s ease-out;
}
.fontMarge {
  color:#000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #10E957;
  margin-top: 9rem;
  font-size: 3rem;
}

/* Media Queries para Telas Menores */
@media (max-width: 1024px) {
  .title {
    font-size: 1.8rem; /* Tamanho menor para tablets */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .logo, .menuIcon {
    font-size: 1.2rem;
  }

  .content {
    margin-top: 4rem;
  }

  .title {
    font-size: 1.5rem; /* Tamanho menor para celulares */
  }

  .text {
    font-size: 1.2rem;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .imagem {
    padding: 2rem;
    margin-left: 0;
    width: 100%;
  }

  .flex {
    flex-direction: column;
    gap: 1rem;
  }

  .textBottom {
    font-size: 1rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1rem; /* Tamanho menor para celulares pequenos */
  }
}